-- CreateTable
CREATE TABLE "KnowledgePoint" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "subject" TEXT NOT NULL,
    "grade" TEXT NOT NULL,
    "module" TEXT NOT NULL,
    "pointName" TEXT NOT NULL,
    "weight" REAL NOT NULL,
    "difficulty" INTEGER NOT NULL,
    "content" TEXT NOT NULL
);

-- CreateTable
CREATE TABLE "_KnowledgeHierarchy" (
    "A" TEXT NOT NULL,
    "B" TEXT NOT NULL,
    CONSTRAINT "_KnowledgeHierarchy_A_fkey" FOREIGN KEY ("A") REFERENCES "KnowledgePoint" ("id") ON DELETE CASCADE ON UPDATE CASCADE,
    CONSTRAINT "_KnowledgeHierarchy_B_fkey" FOREIGN KEY ("B") REFERENCES "KnowledgePoint" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- CreateIndex
CREATE UNIQUE INDEX "_KnowledgeHierarchy_AB_unique" ON "_KnowledgeHierarchy"("A", "B");

-- CreateIndex
CREATE INDEX "_KnowledgeHierarchy_B_index" ON "_KnowledgeHierarchy"("B");

